{% extends 'base.html' %}

{% block title %}
  Create user
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" name="email" class="form-control" required>
    </div>
  <div class="mb-3">
      <label class="form-label">Age</label>
      <input type="number" name="age" class="form-control" required>
    </div>

    <button type="submit" value="save" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
